<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onClick="handleResetPassword()">reset password</button>
    <div class="show-success"></div>
    <script>
      function handleResetPassword() {
        const url = "http://localhost:4000/api/v1/auth/reset-password";
        const search = new URLSearchParams(window.location.search);
        const data = {
          email: search.get("email"),
          newPassword: "000000",
          passworkToken: search.get("token"),
        };
        fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.

          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        })
          .then((response) => response.json())
          .then((json) => {
            document.querySelector(".show-success").innerHTML = json.message;
          });
      }
    </script>
  </body>
</html>
